body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo {
            text-align: left; /* Добавлено для выравнивания логотипа влево */
        }

        header {
            background-color: blue;
            color: white;
            padding: 20px;
            text-align: center;
            width: 100%;
        }

        .block {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            width: 70%;
            text-align: center; /* Добавлено для центрирования текста в блоках */
        }

        .pink {
            background-color: #ff99cc; /* розовый цвет */
        }

        .pale-yellow {
            background-color: #ffffcc; /* бледно-желтый цвет */
        }

        .pale-green {
            background-color: #ccffcc; /* бледно-салатовый цвет */
        }

        footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }